<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Megamenu>
            <version>0.2.3</version>
        </Magestore_Megamenu>
    </modules>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>Magestore_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Megamenu>
                    <files>
                        <default>Magestore_Megamenu.csv</default>
                    </files>
                </Magestore_Megamenu>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <megamenuadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Megamenu</module>
                    <frontName>megamenuadmin</frontName>
                </args>
            </megamenuadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <product_edit>
                        <class>megamenu/observer</class>
                        <method>saveProduct</method>
                    </product_edit>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <product_delete_after>
                        <class>megamenu/observer</class>
                        <method>deleteProduct</method>
                    </product_delete_after>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <categories_save_after>
                        <class>megamenu/observer</class>
                        <method>saveCategory</method>
                    </categories_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <category_delete_after>
                        <class>megamenu/observer</class>
                        <method>deleteCategory</method>
                    </category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <megamenu_item_save_after>
                <observers>
                    <adminhtml_megamenu_item_save>
                        <class>megamenu/observer</class>
                        <method>megamenu_item_save_after</method>
                    </adminhtml_megamenu_item_save>
                </observers>
            </megamenu_item_save_after>
            <megamenu_item_delete_after>
                <observers>
                    <adminhtml_megamenu_item_delete>
                        <class>megamenu/observer</class>
                        <method>megamenu_item_save_after</method>
                    </adminhtml_megamenu_item_delete>
                </observers>
            </megamenu_item_delete_after>
            <admin_system_config_changed_section_megamenu>
                <observers>
                    <adminhtml_megamenu_save_config>
                        <class>megamenu/observer</class>
                        <method>admin_system_config_changed_section_megamenu</method>
                    </adminhtml_megamenu_save_config>
                </observers>
            </admin_system_config_changed_section_megamenu>
        </events>
        <translate>
            <modules>
                <Magestore_Megamenu>
                    <files>
                        <default>Magestore_Megamenu.csv</default>
                    </files>
                </Magestore_Megamenu>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <megamenu>
                <class>Magestore_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>Magestore_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>megamenu</table>
                    </megamenu>
                    <template>
                        <table>megamenu_template</table>
                    </template>
                    <itemtemplate>
                        <table>megamenu_item_template</table>
                    </itemtemplate>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Magestore_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>Magestore_Megamenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>Magestore_Megamenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <default>
        <megamenu>
            <general>                
                <enable>1</enable>
                <menu_effect>1</menu_effect>     
                <menu_type_config>0</menu_type_config>          
                <menu_type>1</menu_type>          
                <menu_position_type>1</menu_position_type>
                <menu_width>779</menu_width>
                <menu_height>50</menu_height>
                <menu_background>ececec</menu_background>
            </general>
            <!--default_style>
                <text_color>000000</text_color>
                <background_color>ffffff</background_color>
                <border_color>000000</border_color>
                <border_size>1</border_size>
                <link_hover_color>ffffff</link_hover_color>
                <font_family>Arial,Helmet,Freesans,sans-serif</font_family>
                <font_size>14</font_size>
            </default_style-->
        </megamenu>
    </default>
</config>