<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Inventorywebpos>
            <version>0.1.0</version>
        </Magestore_Inventorywebpos>
    </modules>
    <frontend>
        <routers>
            <inventorywebpos>
                <use>standard</use>
                <args>
                    <module>Magestore_Inventorywebpos</module>
                    <frontName>inventorywebpos</frontName>
                </args>
            </inventorywebpos>
        </routers>       
    </frontend>
    <admin>
        <routers>
			<inventorywebpos>
				<use>admin</use>
				<args>
					<module>Magestore_Inventorywebpos</module>
					<frontName>inventorywebpos</frontName>
				</args>
			</inventorywebpos>
        </routers>
    </admin>  
    <global>
        <events>
            <controller_action_predispatch_webpos_index_productSearch>
                <observers>
                    <magestore_inventorywebpos>
                        <type>singleton</type>
                        <class>inventorywebpos/observer</class>
                        <method>initProductSearch</method>
                    </magestore_inventorywebpos>
                </observers>
            </controller_action_predispatch_webpos_index_productSearch>
        </events>
        <models>
            <inventorywebpos>
                <class>Magestore_Inventorywebpos_Model</class>
                <resourceModel>inventorywebpos_mysql4</resourceModel>
            </inventorywebpos>
            <inventorywebpos_mysql4>
                <class>Magestore_Inventorywebpos_Model_Mysql4</class>
                <entities>
                    <inventorywebpos>
                        <table>inventorywebpos</table>
                    </inventorywebpos>
                </entities>
            </inventorywebpos_mysql4>
        </models>
        <resources>
            <inventorywebpos_setup>
                <setup>
                    <module>Magestore_Inventorywebpos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inventorywebpos_setup>
            <inventorywebpos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inventorywebpos_write>
            <inventorywebpos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inventorywebpos_read>
        </resources>
        <blocks>
            <inventorywebpos>
                <class>Magestore_Inventorywebpos_Block</class>
            </inventorywebpos>           
        </blocks>
        <helpers>
            <inventorywebpos>
                <class>Magestore_Inventorywebpos_Helper</class>
            </inventorywebpos>
        </helpers>
    </global>
</config>